$main-font: 'Montserrat', sans-serif;

$main: #1ab188;
$main-light: lighten($main, 10%);
$main-dark: darken($main, 10%);

$body-bg: #c1bdba;
$form-bg: #13232f;
$white: #ffffff;

$gray-light: #9ca0a0;
$gray: #ddd;

$high-pri: #ef4444;
$med-pri: rgb(233, 227, 52);
$low-pri: $main;

$thin: 300;
$normal: 400;
$bold: 600;
$br: 4px;

body {
    background-image: url(../assets/forest_background.jpg);
}

#toDoContainer {
    display: flex;
    flex-direction: column;
    min-height: 250px;
    width: 600px;

    text-align: center;
    font-family: $main-font;
    color: $white;

    border-radius: 5%;

    background-color: $form-bg;

    position: absolute;
    top: 15px;
    left: 0;
    right: 0;

    margin: auto;
}

#toDoContainer h1 {
    font-weight: bold;

    text-align: center;

    margin-left: 3%;
}

#taskInputContainer {
    display: flex;

    margin-left: 10%;
}

#ipt-taskname {
    width: 50%;

    height: 26px;
    font-size: 18px;
    font-family: inherit;
    color: $white;

    background-color: $form-bg;
    border: 1px solid $gray-light;
    border-width: thin;
    transition: border-color 0.25s ease, box-shadow 0.25s ease;
    &:focus {
        outline: 0;
        border-color: $main;
    }

    padding-left: 10px;

    margin-top: 4%;
}

#priorityButtons {
    font-size: 10px;

    padding-left: 10px;
    padding-right: 20px;
}

#priorityButtons label {
    padding-left: 10px;
}

.spn-highpri {
    color: $high-pri;
}

.spn-medpri {
    color: $med-pri;
}

.spn-lowpri {
    color: $low-pri;
}

#toDoContainer #btn-addtask {
    background-color: $main;
    border-radius: 5%;
    width: 10%;

    border: none;

    font-family: $main-font;

    color: white;

    transition: 0.5s ease;

    &:hover {
        background-color: $main-dark;
        color: $white;
    }
    &:active {
        border: 1px solid $main;
        outline: 0;
    }
    &:focus {
        outline: 0;
    }
}

#ul-tasks {
    border: 1px solid $main;
    padding-bottom: 50px;

    list-style-type: none;

    text-align: center;

    margin-right: 8%;
    margin-left: 9%;

    span {
        text-decoration: underline;

        margin-right: 10%;
    }

    label {
        padding-left: 5px;
    }

    li .itemButtons {
        display: inline;
        padding-left: 10px;

        .btn-edit-task,
        .btn-delete-task {
            background-color: $main;
            color: $white;
            font-family: $main-font;
            border: none;
            border-radius: 5%;
            transition: 0.5s ease;
            &:active {
                border: 1px solid $main;
            }
            &:hover {
                background-color: $main-dark;
                color: $white;
            }
            &:focus {
                outline: 0;
            }
        }
        .btn-delete-task {
            margin-left: 1%;
        }
    }
}

.taskName.high {
    color: $high-pri;
}

.taskName.medium {
    color: $med-pri;
}

.taskName.low {
    color: $low-pri;
}

.bottom-row {
    display: table;
    font-family: $main-font;
    .table-cell {
        display: table-cell;
    }
    button {
        font-family: $main-font;
        background-color: $main;
        color: $white;
        border: none;
        margin-top: 4%;
        transition: 0.5s ease;
        &:active {
            border: 1px solid $main;
        }
        &:hover {
            background-color: $main-dark;
            color: $white;
        }
        &:focus {
            outline: 0;
        }
    }
    #btn-logout {
        margin-bottom: 15px;
        margin-left: 40px;
        margin-right: 2px;
        height: 25px;
    }
    #btn-delete-completed-tasks {
        margin-bottom: 15px;
        margin-right: 350px;
        margin-left: 2px;
        height: 25px;
    }
}
